<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<suite-files>

		<!-- Result Window of Individual student -->
		<suite-file path="SPR0059-StudentResultWindowBasics.xml"></suite-file>
		<suite-file path="SPR0060-StudentAnswerSheetsBasics.xml"></suite-file>

		<!-- Result Window Of Individual Teacher -->
		<suite-file path="SPR0061-TeacherAutomaticResultPeerreviewcomplete.xml"></suite-file>
		<suite-file path="SPR0062-TeacherAutomaticResultPeerreviewIncomplete.xml"></suite-file>
		<suite-file
			path="SPR0065-TeacherManualReconsiderationEnabledreviewcomplete.xml"></suite-file>
		<suite-file
			path="SPR0066-TeacherManualReconsiderationEnabledReviewIncomplete.xml"></suite-file>
		<suite-file path="SPR0063-TeacherManualResultPeerreviewcomplete.xml"></suite-file>
		<suite-file path="SPR0064-TeacherManualResultPeerreviewIncomplete.xml"></suite-file>
		<suite-file path="SPR0067-TeacherReconsiderationWindow.xml"></suite-file>
		
		<!-- Library features -->
		<suite-file path="SPR0069-QuestionBank.xml"></suite-file>
		<suite-file path="SPR0070-ImportQuestionfromQuestionBank.xml"></suite-file>

		<!-- Pending scenarios -->
		<suite-file path="SPR0071-AddorRemoveStudentFromAssessment.xml"></suite-file>
		<suite-file path="SPR0072-TeacherAccountDelete.xml"></suite-file>
		<suite-file path="SPR0073-AccountDeleteStudent.xml"></suite-file>
		<suite-file path="SPR0074-CourseandAssessmentInActive.xml"></suite-file>
		<suite-file path="SPR0075-CourseandAssessmentActive.xml"></suite-file>
		
	</suite-files>
</suite> <!-- Suite -->
